
body {
  /*background-color: teal;*/
    background-image: url("/static/components/10.jpg");
  /*background-color: #cccccc;*/
    background-size: cover;
}
h1 {

  font-family: verdana;
  font-size: 300%;
  alignment: center;

}

.top_wc{
/*border: 5px outset red;*/
 background-color: lightblue;
  text-align: left;
  /*opacity: 0.5;*/

}

.kw{
/*border: 5px outset red;*/
  background-color: lightblue;
  text-align: left;
   /*opacity: 0.5;*/
}

h2 {
  color: orange;

  font-family: verdana;
  font-size: 200%;
  alignment: center;
}
p{
color: black;

  font-family: verdana;
  font-size: 150%;
  alignment: center;
}

ol{
  color: black;

  font-family: verdana;
  font-size: 140%;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
