
body {
  background-color: teal;
    /*background-image: url("/static/components/brick.jpg");*/
  /*background-color: #cccccc;*/
    background-size: cover;
}
h1 {
  color: black;
  font-family: verdana;
  font-size: 300%;
  alignment: center;

}

.top_wc{
/*border: 5px outset red;*/
  background-color: lightblue;
  text-align: center;
}

.kw{
/*border: 5px outset red;*/
  background-color: lightblue;
  text-align: left;
}

h2 {
  color: black;

  font-family: verdana;
  font-size: 200%;
  alignment: center;
}
p{
color: black;

  font-family: verdana;
  font-size: 150%;
  alignment: center;
}

ol{
  color: black;

  font-family: verdana;
  font-size: 140%;

}

label {
  background-color: teal;
  color: black;
  padding: 0.5rem;
  font-family: Verdana;
    font-size:35px;
  border-radius: 0.3rem;
    border: 2px dashed black;
  cursor: pointer;
  margin-top: 4rem;
    text-align: center;
    /*text-position: fixed;*/
    position: center;
    vertical-align: center;
    justify-content: center;
    display:flex;
    align-items:center;

}
