<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for ("static",filename="style.css" )}}" >
    <title>Blog-buddy</title>
  </head>
<body>
<img src="/static/components/logo5.png" align="top" style="float: left;top: 35%" >
<h1 style="position: fixed ;top: 18%; left: 25%;" >Blog-Buddy </h1>
<h2 style="position: fixed ;top: 31%; left: 28%;" > Let's blog together</h2>
<form action = "http://127.0.0.1:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
    <label for="file-upload" class="custom-file-upload" style="position: fixed ;top: 74%; left: 62%; width: 525px;
     height: 50px; justify-content: center;
    display:flex;
    align-items:center;" ><img src="/static/components/Upload.png" width="40" height="40" alt="" loading="lazy"
        >&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="fa fa-cloud-upload"></i> Upload File
</label>
<input id="file-upload" type="file" name="file"/>
    <label for="submit" class ="custom-submit" style="position: fixed ;top: 84%; left: 70%; width: 250px;
     height: 50px; justify-content: center;
    display:flex;
    align-items:center;"><i class="fa fa-cloud-upload"></i> Submit</label>
             <input id="submit" type = "submit"/>
      </form>

</body>
</html>

